@model T04R.Models.Nomina
@{
    ViewBag.Title = "View";
}

<br />
<br />
<br />
<br />
<br />
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>Nominas</b></h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sueldo</th>
                        <th>Tiempo trabajado</th>
                        <th>Bonos</th>
                        <th>Impuestos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ID)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => Model.Sueldo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.TiempoTrabajo) horas
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => Model.Bono)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => Model.IVA)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
